@keyframes stars {
  20%  {opacity: 1; }
  100% { background-position: 20rem 0; opacity: 0; }
}

@keyframes appear {
  from { transform: scaleY(0); }
  to   { transform: scaleY(100%); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.card {
  position: relative;
  width: 30%;
  height: 350px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #494949;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.card-animation {
  animation: appear 0.2s linear;
}

.card-animation > * {
  animation: fadeIn 1.2s linear;
  opacity: 1;
}

.card-animation .bg-emblem {
  animation: none;
  z-index: 0;
}

.card-animation .bg-vehicle {
  animation: none;
  z-index: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 20rem 20rem;
  background-position: center 0;
  opacity: 0;
}

.bg-stars {
  animation: stars 10s linear infinite;
  background-position: center 0;
}

.bg-emblem {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  opacity: 0.2;
}

.bg-vehicle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: 40% 50%;
  opacity: 0.3;
}

.card-selected {
  background-color: #3e5c6f;
}

.card-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  text-transform: uppercase;
  z-index: 2;
}

.card-info-list {
  width: 50%;
  padding: 0;
  list-style: none;
  z-index: 2;
}

.info {
  margin: 0 30px 20px 0;
}

.info-label {
  padding: 0 0 5px;
  margin: 0 0 5px;
  border-bottom: 1px solid #FFF;
  font-size: 15px;
  font-weight: 300;
}

.info-value {
  font-size: 12px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

.card-selected .card-favorite-button {
  opacity: 1;
}

.card-favorite-button {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 10px;
  color: #FFF;
  font-family: Starjedi, Ubuntu, sans-serif;
  letter-spacing: 2px;
  opacity: 0.6;
  z-index: 2;
}

.card-favorite-button:hover {
  opacity: 1;
}

.card-favorite-button:focus {
  outline: none;
}
