.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  padding: 25px 0;
  transition: margin 0.5s;
}

.no-favorites {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: fadeIn 1.5s;
}

.fav-msg {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: #FEDA4A;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  font-family: Starjedi, sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
  z-index: 2;
}

.fav-img {
  position: absolute;
  top: -35%;
  left: 0;
  width: 100%;
  opacity: 0.4;
}
